/*
Screen size definitions
 */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra extra large
$screen-xxl-min: 1400px;


/*
Mixins
 */

// Small devices
@mixin media-min-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin media-min-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin media-min-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin media-min-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra large devices
@mixin media-min-xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}