@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefin-sans-700.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefin-sans-400.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roundo";
  src: url("../fonts/roundo-700.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roundo";
  src: url("../fonts/roundo-600.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roundo";
  src: url("../fonts/roundo-400.woff2");
  font-weight: normal;
  font-style: normal;
}