$color-primary: #AD6CD6;

$color-light-blue: #C4FAF8;
$color-light-pink: #FFCCF9;
$color-light-purple: #ECD4FF;

$color-dark-blue: #86f7f3;
$color-dark-pink: #EF94FF;
$color-dark-purple: #b76ce6;

$color-quite-light: #E6E6E6;
$color-light: #FFFAFF;

$text-light: $color-light;
$text-grey: #B2B2B2;

$background-dark: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(180deg, #390048 23.47%, #000000 114.86%);

$gradient-light: linear-gradient(180deg, $color-light-blue 0%, $color-light-pink 100%);
$gradient-dark: linear-gradient(180deg, $color-dark-pink 0%, $color-dark-purple 100%);

$shadow-color: rgba(41, 26, 51, 0.25);


