@import "../../styles/variables";

.wrapper {
  display: flex;
  min-height: 312px;

  a {
    text-decoration: none;
  }

  .column {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
      margin-top: 20px;
    }

    &:not(:first-child) {
      a {
        &:first-child {
          margin-top: 48px;
        }

        &:not(:last-child) {
          margin-bottom: 36px;
        }

        span {
          font-size: 20px;
          color: $text-dark;
        }
      }
    }
  }
}