@import "../../styles/variables";

.wrapper {
  display: flex;
  min-height: 312px;
  color: $text-light;

  .column {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
      margin-top: 20px;
    }

    span {
      font-size: 20px;

      &:first-child {
        margin-top: 48px;
      }

      &:not(:last-child) {
        margin-bottom: 36px;
      }
    }
  }
}