@import "../../styles/variables";

.wrapper {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;

  .spacer {
    flex-grow: 1;
  }

  .documentation-link {
    color: $text-white;
  }

  .contact-button {
    margin-left: 32px;
  }
}
