@import "../../styles/variables";
@import "../../styles/media-queries";

.large-spheres {
  display: none;

  @include media-min-lg {
    display: initial;
  }
}

.wrapper {
  display: flex;
  justify-content: center;

  .main-box {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .text-gradient {
      background: $text-gradient, $color-dark-blue;
      color: transparent;
      background-clip: text;
      margin-bottom: 20px;
    }

    .sub-title {
      color: $text-light;
      margin-bottom: 64px;
    }

    .button-wrapper {
      display: flex;
      align-items: baseline;

      > *:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
}
