@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  color: $text-dark;

  .body {
    .cards-wrapper {
      display: flex;
      justify-content: space-around;
    }
  }
}