@import "../../styles/variables";
@import "../../styles/media-queries";

.wrapper {
  display: flex;
  flex-direction: column;
  color: $text-dark;

  .body {
    .cards-wrapper {
      display: flex;
      justify-content: space-around;

      flex-direction: column;
      align-items: center;
      gap: 64px;
      > * {
        margin-bottom: 64px;
      }

      @include media-min-md {
        flex-direction: row;
        align-items: stretch;
        gap: initial;
        > * {
          margin-bottom: initial;
        }
      }
    }
  }
}