@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  color: $text-light;

  .description {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 128px;
  }

  .body {
    .cards-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}
