@import "../../styles/variables";
@import "../../styles/media-queries";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(512px + 32px);
  color: $text-dark;
  text-align: center;

  .text {
    max-width: 1024px;
    line-height: 120%;
    margin-bottom: 32px;
  }

  .image-wrapper {
    margin-top: 32px;
    position: relative;
    overflow: visible;
    width: 100%;
    padding-top: 78%;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    @include media-min-xxl {
      padding-top: 92%;

      .image {
        left: -20%;
        width: 140%;
      }
    }
  }
}