@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  color: $text-light;

  .body {
    .cards-wrapper {
      display: flex;
      justify-content: space-around;
      > * {
        width: 392px;
      }
    }
  }
}
