@import "../../styles/media-queries";

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-256px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fullwidth-wrapper {
  width: 100%;
  padding: 0;

  .relative-wrapper {
    position: relative;

    display: none;
    @include media-min-lg {
      display: block;
    }

    .animated {
      position: absolute;
      transform: translateY(0px);

      animation-name: float;
      animation-duration: 16s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      @for $i from 0 to 8 {
        &:nth-child(8n+#{$i}) {
          animation-delay: -$i * 10s;
        }
      }
    }
  }
}


