@import "../../styles/variables";

.h1 {
  font-family: Roundo, -apple-system, Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
}

.h2 {
  font-family: Roundo, -apple-system, Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.h3 {
  font-family: Roundo, -apple-system, Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.h4 {
  font-family: Roundo, -apple-system, Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.body1 {
  font-family: Josefin Sans, -apple-system, Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.body2 {
  font-family: Josefin Sans, -apple-system, Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.body3 {
  font-family: Josefin Sans, -apple-system, Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}


.button {
  font-family: Josefin Sans, -apple-system, Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}