@import "../styles/variables";

.wrapper {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;

  .icon-box {
    width: 210px;
    height: 210px;
    background: $gradient-light;
    box-shadow: $box-shadow;
    border-radius: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 132px;
      background: $background-dark, $color-black;
      color: transparent;
      background-clip: text;
    }
  }

  .description {
    padding: 0 12px;
    color: $text-dark;
    margin-bottom: 0;
  }
}