@import "../styles/variables";

.background {
  background: $background-light;
  width: 100%;  // TODO rm
  padding: 0;   // TODO rm
}

.wrapper {
  display: flex;
  flex-direction: column;
  color: $text-dark;

  .cards-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .body {
    .text {
      font-size: 20px;
      line-height: 120%;
    }
  }
}
