@import "../variables";

@mixin light-section($image-before, $image-after, $image-before-height: 7vw, $image-after-height: $image-before-height) {
  background: $background-light;
  width: 100%;
  padding: 0;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @if $image-before != none {
    &::before {
      height: $image-before-height;
      transform: translateY(-100%) scaleY(-1);
      background-image: $image-before;
    }
  }

  @if $image-after != none {
    &::after {;
      height: $image-after-height;
      background-image: $image-after;
    }
  }
}